
<link rel="stylesheet" href="style.css">
<body>

<div class="header">
    <h2> Devnest Take-Home Assignments </h2>
    <h3> @Bit-Sahil04 </h3>
</div>
<section>

<div class="card">
    <a href='day 01\index.html'>

    <div class="day">
        <p>day 01</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 02\index.html'>

    <div class="day">
        <p>day 02</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 03\index.html'>

    <div class="day">
        <p>day 03</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 03-2\index.html'>

    <div class="day">
        <p>day 03-2</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 04\index.html'>

    <div class="day">
        <p>day 04</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 05\index.html'>

    <div class="day">
        <p>day 05</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 06\index.html'>

    <div class="day">
        <p>day 06</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 07\index.html'>

    <div class="day">
        <p>day 07</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 08\index.html'>

    <div class="day">
        <p>day 08</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 09\index.html'>

    <div class="day">
        <p>day 09</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 10\index.html'>

    <div class="day">
        <p>day 10</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 11\index.html'>

    <div class="day">
        <p>day 11</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 12\index.html'>

    <div class="day">
        <p>day 12</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 13\index.html'>

    <div class="day">
        <p>day 13</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

<div class="card">
    <a href='day 14\index.html'>

    <div class="day">
        <p>day 14</p>
        
    </div>
    <div class="title">
        <p>PLACEHOLDER</p>
    </div>
    </a>
</div>

</section>
</body>
