body{
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#title{
    color: teal;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#subheading{
    margin-top: -20px;
}

#container{
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 60%;
    height: auto;
    border: 2px solid darkslategrey;
}

.details{
    margin: -30px 0px 0px 10px;
}

.sections{
    color: teal;
}
.categories{
    /* margin: 30px 0px 0px 10px; */

    font-weight: bold;
    font-size:larger;
    color: tomato;
}

#left-bar{
    /* position: relative; */
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   /* margin: 10px 10px 10px 10px; */

.vertical-bar{
    background-color:darkslategrey;
    height: auto;
    width: 1px;
    border-radius: 10%;
    /* margin: 10px 10px 10px 10px; */
}

#right-bar{
    width: 45%;
    /* margin: 10px 10px 10px 10px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#spacer{
    height: 25px;
}
span.categories{
    margin-top: 100px;
    color: darkslategrey;
}
.project_title{

    /* margin-top: 1000px; */
    color: darkslategrey;
    font-size: larger;
}