*{
    padding: 0px;
    margin: 0px;
}


body{
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background-image: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(156,121,197,1) 29%, rgba(148,187,233,1) 74%, rgba(74,68,191,1) 100%);
    display: flex;
    justify-content: center;

}

.card{
    margin: auto;
    width: 60%;
    height: 60%;

    background-color: rgb(227, 242, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* hiding the scroll bar 
    https://blog.hubspot.com/website/hide-scrollbar-css
    */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.card::-webkit-scrollbar {
    display: none; /* hiding the scroll bar for Chrome, Safari, and Opera */
}

.top{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
    display: flex;
    flex-wrap: nowrap;
}
.top input{
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
    margin: 1px 0px 5px 5px;
    border: none;
    background-color: blue;
    text-align: center;
}
.add-btn{
    padding: 1px 5px 0px 5px;
    height: 100%;
    width: 5%;
    margin: 5px 5px 5px 0px;
    
    border-radius: 0px 10px 0px 0px;
    cursor: pointer;
    
    background-color: yellowgreen;

    transition: 0.2s;

}
.add-btn:hover{
    background-color: rgb(95, 250, 57);
}