*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


body{
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background-image: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(156,121,197,1) 29%, rgba(148,187,233,1) 74%, rgba(74,68,191,1) 100%);
    display: flex;
    justify-content: center;

}

.card{
    margin: auto;
    width: 60%;
    height: 60%;

    background-color: rgb(227, 242, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* hiding the scroll bar 
    https://blog.hubspot.com/website/hide-scrollbar-css
    */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
.card::-webkit-scrollbar {
    display: none; /* hiding the scroll bar for Chrome, Safari, and Opera */
}


/*
stylesheet is ripped from schools
*/

/* Include the padding and border in an element's total width and height */
/* * {
    box-sizing: border-box;
  }
   */
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(14, 182, 64);
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }