body{
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}

#main_body{
  position: absolute;
  width: 300px;
  height: 400px;
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;

  top: 10%;
  background-color: darkseagreen;

}

#display{
  text-align: right;
  font-size: 2rem;
  font-weight: bold;

  background-color: white;
  width: auto;
  height: 50px;
  margin: 20px auto 0px auto;
}
