*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(24, 21, 21);
    height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    justify-content: center;

}
.box{
    /* width: 500px; */
    background-color: rgb(58, 51, 51);
    width: 75%;
    height: 95%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
#card{
    /* background-color: plum; */
    height: 50%;
    width: 80%;
    
    transition: all 0.3s ease;
    border-radius: 15px;
    display: flex;
    place-items: center;
    flex-direction: column;

    border-radius: 4px;
    background-color: rgb(95, 105, 99);
}
.answers{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-right: 60%;
}
.card-off{
    height: 60%;
    width: 1%;
    border: 1px solid black;
}
.question{
    height: 50%;
    width: 50%;
    color: aliceblue;
    margin: auto;
    padding-top: 5%;
    margin-right: 40%;
}
.question p{
  font-size: 2em;
  color: black;
}
button{

    background-color: cyan;
    border: 1px solid black;
    border-radius: 0% 0% 5% 5%;

    transition: all 0.3s ease-in;
}

button:hover{
    background-color: darkolivegreen;
}

/* .btn{
    width: 20%;
    height: 20%;
    font-size: 0.7em;
    margin: 1% 0% 1% 0%;
} */

.nav{
    width: 80%;
    height: 10%;
    border: 1px solid black;
    opacity: 0%;
    transition: all 0.2s ease-in;
    display: flex;
    flex-wrap: nowrap
}
.nav-active{
    opacity: 100%;
}
.nav-btn{
  width: 50%;
  height: 100%;
  border-radius: 0px;
}

.completed{
  background-color:rgb(9, 184, 96);
  color: rgb(255, 255, 255)
}
/* 
=====================================
Custom check box ripped from w3school 
=====================================
*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }