*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

#search-bar{
    margin: 2% 0% 10% 0%;
    width: 60%;
    height: 10%;
}

.card h4{
    margin-top: 10%;
}
button{
    margin-bottom: 5%;
}