body{
    background-color:seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("/devnest.jpg");
    background-repeat: repeat-y;
    background-blend-mode: multiply;
    background-size: 20%;
    background-position-x: 80vw;
}

.address{
    color: cornflowerblue;
}
.highlight{
    background-color: coral;
    height: 2%;
}

#target{
    color: brown;
}
